<td>
  <%= "コメント数: #{@book.post_comments.count}" %>
  <% @book.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    
    <% if post_comment.user == current_user %>
      <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
    <% end %>
  <% end %>
</td>
<%= form_with model: [@book, @post_comment] do |f| %>
<div class="form-group">
    <%= f.text_area :comment, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.submit "送信" %>
</div>
  <% end %>
</div>