<!--<div>-->
<!--  <h3>%= @user.name %></h3>-->
<!--  %= image_tag @user.get_profile_image(100,100) %>-->
<!--</div>-->
<%= flash[:notice] %>
 <div class="container px-5 px-sm-0">
<!--<div class="container">-->
  <div class="row">
    <div class="col-md-3">
    <%= render 'users/info', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">

<!-- ユーザーの投稿一覧 -->

<!--% @books.each do |book| %>-->
<!--<div>-->
<!--  %= link_to book_path(book.id) do %>-->
    <!--%= image_tag post_image.get_image %-->
<!--  % end %>-->
<!--  %= image_tag book.user.get_profile_image(100,100) %>-->
<!--  %= book.title %>-->
<!--  %= book.body %>-->
<!--</div>-->
<!--% end %>-->

<h2>Books</h2>
<table class="table table-hover table-inverse">
<thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user_id) do %>
        <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to book.title,book_path(book.id) %>
      </td>
      <td>
        <%= book.body %>
      </td>

      <td>
    <% if book.favorited_by?(current_user) %>

    <%= link_to book_favorites_path(book), method: :delete do %>
        <i class="fas fa-heart text-danger"></i>
    <% end %>
    <% else %>

    <%= link_to book_favorites_path(book), method: :post do %>
        <i class="fas fa-heart"></i>
    <% end %>
    <% end %>
    </td>

    <td>
    <%= " #{book.favorites.count} " %>
    </td>

    <td>
      <%= "コメント数: #{book.post_comments.count}" %>
    </td>

    </tr>
    <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>
</div>